:root {
  /* background color */
  --bg-body: hsl(0, 0%, 90%);
  --bg-btn: hsl(0, 0%, 70%);
  --bg-btn-primary: hsl(357, 92%, 47%);
  
  /* color */
  --clr-body: hsl(0, 0%, 90%);
  --clr-btn: hsl(0, 0%, 0%);
  --clr-btn-primary: hsl(0, 0%, 90%);
}